{% extends 'base.html' %} 
{% load staticfiles %} 
{% block content %}
<div class="jumbotron">
    <h1>My Books</h1>
</div>
<div class="container d-flex flex-row flex-wrap justify-content-start"> 
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
    <div class="card text-center m-3" style="width: 15rem;">
        <img class="card-img-top" src="{% static '/images/cover.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <p class="card-text">Agatha Christie</p>
            <a href="#" class="btn btn-link">View More Details</a>
        </div>
    </div>
{% comment %} <div class="d-flex flex-row row flex-wrap">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100"> 
                <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
            </div>
        </div> {% endcomment %}
    {% comment %} <div class="card col-md-6 col-lg-3 border-light h-100" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div>
    <div class="card col-md-6 col-lg-3 border-light" style="max-width: 20rem;">
        <img style="height: 30%; width: auto; display: block; object-fit:contain;" src="{% static '/images/cover.jpg' %}" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">And Then There Were None</h5>
            <h6 class="card-subtitle text-muted">Agatha Christie, 1940</h6>
        </div>
    </div> {% endcomment %}
</div>
</div>
{% endblock %}
