{% extends 'base.html' %} 
{% load staticfiles %} 
{% block content %}
<div class="jumbotron">
    <h1>My Books</h1>
</div>
<div class="container mb-4 d-flex flex-row flex-wrap justify-content-start"> 
    {% comment %} {% if error %}
        <div class="alert alert-dismissible alert-danger w-100">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Oops!</h4>
            {{ error }}
        </div>
    {% endif %} {% endcomment %}
    {% if books|length == 0 %}
        <div class="alert alert-dark w-100">
            <h4 class="alert-heading">No books to show.</h4>
            <a class="alert-link" href="{% url 'add_book' %}">Want to add one?</a>
        </div>
        {% comment %} <h3>No books to show. <a href="{% url 'add_book' %}">Want to add one?</a></h3> {% endcomment %}
    {% else %}
        
        <div class="w-100 px-3 d-flex flex-row">
            <h5 class="text-success" style="font-family: 'Roboto'">You have {{books|length}} books in your list</h5 class="lead">
            <div style="flex-grow: 1"></div>
            <a class="btn btn-dark" href="{% url 'add_book' %}"><i class="fas fa-plus mr-2"></i>Add Book</a>
        </div>
        {% for book in books %}
        <div class="card text-center m-3" style="width: 15rem;">
            <img class="card-img-top" src="{{ book.cover.url }}" style="width: 100%; height: 22vw; object-fit: contain; background-color: #e8e8e8" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text lead">{{ book.author }}</p></small>
            </div>
            <div class="card-footer">
                <a href="{% url 'view_book' pk=book.pk %}" class="btn btn-link">View More</a>
            </div>
        </div>

        {% endfor %}
    {% endif %}
    
</div>
{% endblock %}
